# Eseguibili / output di compilazione
a.out
*.o
*.obj
*.exe

# File temporanei / backup
*~
*.swp
*.tmp

# Cartelle editor
.vscode/
.idea/
.DS_Store

# Eseguibili creati in Lezioni (senza estensione)
Lezioni/[0-9]*

SSHKEY
SSHKEY.pub
